<h1>マイページ</h1>

<h2>登録情報</h2> 
<tr><%= link_to "編集する", edit_path, class:"btn btn-sm btn-success" %></tr>
 
<tr>氏名</tr>
    <%= @customer.last_name %>
    <%= @customer.first_name %>

<tr>カナ</tr>
    <%= @customer.last_name_kana %>
    <%= @customer.first_name_kana %>

<tr>郵便番号</tr>
    <%= @customer.postal_code %>

<tr>住所</tr>
    <%= @customer.address %>

<tr>電話番号</tr>
    <%= @customer.telephone_number %>

<tr>メールアドレス</tr>
    <%= @customer.email %>

    
<tr>配送先</tr>
    <%#= link_to "一覧を見る", addresses_path %> 
<tr>注文履歴</tr>
    <%#= link_to "一覧を見る" orders_path %>