<h1>商品新規登録</h1>


<p>商品画像</p>
<%= f.file_field :image %>

<p>商品名</p>
<%= f.text_field %>

<p>商品説明</p>
<%= f.text_area %>

<p>ジャンル</p>

<p>税抜価格</p>
<%= f.text_field %>

<p>販売ステータス</p>


<%= f.submit "新規登録",class:"btn btn-secondary" %>