<div class="container">
  <div class="row">
    <h5>ログイン</h5>
  </div>

  <div class="row">
    <p>会員の方はこちらからログイン</p>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mb-3">
    <div class="col-md-2 col-form-label">メールアドレス</div>
    <div class="col-md-5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2 col-form-label">パスワード</div>
     <div class="col-md-5">
       <%= f.password_field :password, autocomplete: "current-password" %>
     </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= f.submit "ログイン",class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>


  <div class="row">
    <p>会員登録がお済みではない方</p>
  </div>
  <div class="row">
    <div class="col-md-8">
     <%= link_to new_customer_registration_path do %>
     <%= "こちら" %>
     <% end %>
     新規登録を行ってください。
    </div>
  </div>
</div>