        <table class="table">
           <tbody>
              <tr>
                <td><%= image_tag @item.get_image(100,100) %></td>
                <td>
                    商品名<%= @item.name %> <br>
                    商品説明<%= @item.introduction %> <br>
                    ￥<%= @item.price %>（税込） <br>
                    <%= form_with model: @item,url: '/admin/items' , method: :get do |f| %>
                    <%= f.hidden_field :name, :value => "個数選択" %>
                    <%= f.select :amount, *[1..10] %>
                    <%= f.submit "カートに入れる" %>
                    <% end %>
                </td>
              </tr>
           </tbody>
        </table>